@import url("https://fonts.googleapis.com/css?family=Varela");

.group {
    display: grid;
    grid-template-columns: 1fr auto;
    margin: 10px;
    background-color: #2b2b2b;
    padding: 14px 28px;
    color: #fff;
    border-radius: 16px;
    font-family: "Varela";
}

.logo {
    color: #fff;
    font-size: 20px;
}

.logoP {
    color: #5ae000;
}

.links {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 16px;
}

.links a {
    padding: 12px;
}

.links a:hover {
    background-color: #0070f3;
    border-radius: 15px;
}