
body { 
    background-color: #1E1E1E;

}

header {
    position: absolute;
    width: 100px;
    height: auto;
    left: 0px;
    top: 2px;
    background: #2B2B2B;
border-radius: 10px;
}

.box {
    position: absolute;
width: 38.177%;
height: 74%;
left: 49.3%;
top: 17.87%;
box-shadow: 4px 0px 200px rgba(255, 61, 0, 0.35);

background: #2b2b2b;
border-radius: 30px;
}

.username {
    position: absolute;
    width: 25.41%;
    height: 5.27%;
    left: 55.93%;
    top: 24.35%;
    
    background: #252525;
    border: 2px solid #FF3D00;
    box-sizing: border-box;
    border-radius: 10px;s
}

.phno {
    position: absolute;
width: 25.41%;
height: 5.27%;
left: 55.93%;
top: 33.7%;

background: #252525;
border: 2px solid #FF3D00;
box-sizing: border-box;
border-radius: 10px;
}

.email {
    position: absolute;
width: 25.41%;
height: 5.27%;
left: 55.93%;
top: 43.05%;

background: #252525;
border: 2px solid #FF3D00;
box-sizing: border-box;
border-radius: 10px;
}


.password {
    position: absolute;
width: 25.41%;
height: 5.27%;
left: 55.93%;
top: 52.4%;

background: #252525;
border: 2px solid #FF3D00;
box-sizing: border-box;
border-radius: 10px;
}

.confirm {
    position: absolute;
width: 25.41%;
height: 5.27%;
left: 55.93%;
top: 61.75%;

background: #252525;
border: 2px solid #FF3D00;
box-sizing: border-box;
border-radius: 10px;
}



.signuptext {
    position: absolute;
left: 56.77%;
top: 25.27%;

font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-style: normal;
font-weight: 200;
font-size: 10px;
line-height: 20px;
}


.signupbutton{
    position: absolute;
width: 19.375%;
height: 6.29%;
left: 58.8%;
top: 73.38%;

background: #E05100;
box-shadow: 2px 0px 70px rgba(255, 61, 0, 0.35);
border-radius: 40px;
color: white;
text-align: center;
}

.joinus{
/* Join us */
position: absolute;
width: 7.18%;
height: 3.51%;
left: 47.89%;

text-align: center;
font-family: Poppins;
font-style: normal;
font-weight: 250;

color: #FFFFFF;
}

/* .orsignin {
    top: 83.24%;
    left: 66.54%;
    width: 100%;
    

    width-left: 66.54%;
    width-top: 83.24%;

font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-style: normal;
color: #ffffff;
text-decoration-line: underline;
}
*/
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
textarea {
  background-color: transparent;
  width: 75%;
  color: #fff;
  outline: none;
  border: none;
  /*border-bottom: 1px solid #767276;*/
  box-sizing: border-box;
  margin-top: 4px;
  margin-bottom: 10px;
  resize: none;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

input[placeholder="Username"]
{
    color: #ffffff;
}
img {
    position: absolute;
width: 44.21%;
height: 72.59%;
right: 50%;
top: 13.7%;
}

